@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
  margin:0px;
  font-family: "Lato", sans-serif;
}

body {
background-color: ;
}

.nav {
  text-align: center;
  background-color:white;
  width: 90vw;
  margin:auto;
}

.nav > a {
  text-decoration:none;
  text-align:center;
  color:black;
}

header {
  background-color: lightgrey;
  height:800px;
}

.releases {
  background-color: darkgrey;
  height: 900px;
  max-width: 1000px;
  margin: auto;
}

.releases > h1 {
  color:white;
  text-align:center;
}

.releases > h2 {
  color:white;
  text-align:center;
}

.amostras {
  display:flex;
  flex-direction:row;
  background-color:grey;
  height:500px;
  width: 1000px;
}

.amostra1 {
  background-color: lightgrey;
  margin: 10px;
  height: 480px;
  width: 400px;
}

.amostra2 {
  background-color: lightgrey;
  margin:10px;
  width:400px;
  height: 480px;
}

.amostra3 {
  background-color: lightgrey;
  margin:10px;
  width:400px;
  height: 480px;
}

.catalogo {
  background-color:lightgrey;
  width: 100vw;
  height: 300px;
  margin: 10px;
}

.catalogo > h1 {
  font-size:3em;
  color:white;
  text-align:center;
}

.contato {
  background-color:lightgrey;
  width: 100vw;
  height: 300px;
  margin:10px;
}

footer {
  background-color:black;
  color:white;
  height: 300px;
}