/* styles.css */

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');



body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    overflow: hidden; /* Oculta o conteúdo até que o preloader desapareça */
    background-color: #EEF0F6;
}

header {
    background-color: rgba(0, 0, 0, 0);
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
    align-items: center;
    position: absolute;
    left: 950px;
    top: 20px;
}

nav ul {
    font-family: "Monteserrat", sans-serif;
    font-weight: 300;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    
}

nav ul li {
    margin-left: 100px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bolder;
}

/* LOGOTIPO */

.logo img {
    height: 50px;
}

/* Preloader */
/* .preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    z-index: 1000;
} */

.stripe {
    width: 20%;
    height: 100%;
    background: #000; /* Cor do retângulo */
    transition: transform 1s ease-out;
    transform: translateY(0);
}

/* Conteúdo da Página */
.content {
    opacity: 0;
    transition: opacity 1s ease;
    text-align: center;
    padding: 50px;
}

.content.visible {
    opacity: 1;
}

/* Imagem cabeçalho e botão */
.hero-section {
    background-image: url('https://i.imgur.com/IACFmWc.jpeg'); /* Link direto da imagem */
    background-size: cover; /* Ajusta a imagem para cobrir toda a div */
    background-position: bottom; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Evita que a imagem se repita */
    background-attachment: fixed;
    color: #fff;
    padding: 100px 30px;
    text-align: center;
    height: 900px;
    display: flex;
    animation: myAnim 1.5s ease 0s 1 normal forwards;
}


.hero-section .cta-button {
    background-color: transparent;
    border: 1px solid white;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 40px;
    margin-top: 20px;
    display: inline-block;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
    font-size:0.6em;
    font-family: "Lato", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.cta-button:hover {
    background-color: black; /* Fundo preto ao passar o mouse */
    color: #fff; /* Texto branco ao passar o mouse */
    transform: scale(1.1);
    border: 0px solid black;
}

.hero-section .hero-content {
  font-family: "Montserrat", sans-serif;  
  color:white;
  font-size:2em;
  text-align:left;
  
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   align-items: flex-start;
   position: relative;
   top: 500px;
   left:50px;
}

.hero-section .hero-content h2 {
    font-family: "Montserrat", sans-serif; 
    font-weight: 300; 
}

/* --------------------------------------------- */

/* Seção de lançamentos - pedras */
.services-section {
    padding: 10px 30px;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 60px;
    background-color: white;
    text-align: center;
    width: 1280px;
    height: 720px;
}


.services-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.service-item {
    background-color: white;
    height: 500px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.services-grid .service-item {
    color: rgb(0, 0, 0);
    line-height: 2px;
    text-align: left;
    
}

.service-item .service-text1 {
    line-height: 1px;
    position: relative;
    top: 530px;
}

.service-item .service-text2 {
    line-height: 1px;
    position: relative;
    top: 530px;
}

.service-item .service-text3 {
    line-height: 1px;
    position: relative;
    top: 530px;
}

.services-section .title .paragraph {
   color: black;
   line-height: 2px;
}

.services-section .title .paragraph h1 {
    font-weight: 500;
    font-size: 2em;
 }

 .services-section .title .paragraph p {
    letter-spacing: 2px;
    font-weight: 300;
 }

.services-grid #amostra1 {
    background-image: url('../imagens/ALBA\ PIETRA.png');
    background-size: cover; /* Ajusta a imagem para cobrir toda a div */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat;
}
.services-grid #amostra2 {
    background-image: url('../imagens/BARILOCHE\ CHAPA\ CATALOGO.png');
    background-size: cover; /* Ajusta a imagem para cobrir toda a div */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat;
}
.services-grid #amostra3 {
    background-image: url('../imagens/FOTO\ POSEIDON.png');
    background-size: cover; /* Ajusta a imagem para cobrir toda a div */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat;
}

/* RODAPÉ  */
footer {
    background-color: #2c3e50;
    color: #fff;
    text-align: center;
    padding: 15px 0;
/*     position: fixed; */
    width: 100%;
    bottom: 0;
}
